{{ define "favicon" }}
{{ partial "page-favicon.html" . }}
{{ end }}

{{ define "pagetitle" }}
{{ partial "page-title.html" . }}
{{ end }}

{{ define "customstyles" }}
{{ partial "custom-styles.html" . }}
{{ end }}

{{ define "main" }}

{{ if (eq .Params.layout "coronalaboratory") }}
{{ partial "verification-script" (dict "inputids" (slice "f" "b" "g" "p" "i" "d" "t" "r" "s") "hashalgorithm" "sha512" "separator" ";") }}

<form id="gen_form" name="gen_form" onsubmit="verifyForm(); return false;">
{{ partial "coronalaboratory.html" . }}

<div id="verification-widget">
</div>

<div class="input-field">
  <input type="submit" class="btn btnwhite" value="verifizieren">
</div>
</form>
{{ else }}
For this layout is no form defined!!!
{{ end }}
{{ end }}
