{{ define "favicon" }}
{{ partial "page-favicon.html" . }}
{{ end }}

{{ define "pagetitle" }}
{{ partial "page-title.html" . }}
{{ end }}

{{ define "customstyles" }}
{{ partial "custom-styles.html" . }}
{{ end }}

{{ define "main" }}

{{ partial "verification-script" . }}

<form id="gen_form" name="gen_form" onsubmit="verifyForm(); return false;">
{{ partial "coronalaboratory.html" . }}

<div id="verification-widget">
</div>

<div class="input-field">
  <input type="submit" class="btn btnwhite" value="verifizieren">
</div>
</form>
{{ end }}
