<style>
  .section {
    margin: 10px;
  }
  button {
    margin: 10px 0; padding: 7px; background-color: black; color: white;
  }
  button.verify {
    background-color: #ff008c;
    border: solid 1px black;
  }
  .hidden {
    visibility: hidden;
  }
</style>
<div id="testhash-page">
  <div class="section">
    Stage:
    <input type="radio" id="dev-stage" name="stage" value="dev"  checked>
    <label for="dev-stage">DEV</label>
    <input type="radio" id="demo-stage" name="stage" value="demo" >
    <label for="demo-stage">DEMO</label>
    <input type="radio" id="qa-stage" name="stage" value="qa" >
    <label for="qa-stage">QA</label>
    <input type="radio" id="prod-stage" name="stage" value="prod" >
    <label for="prod-stage">PROD</label>
  </div>
  <div class="section">
    <div class="input-field">
      <label for="token-input">UBIRCH verification token:</label><br>
      <textarea rows="10" cols="80" placeholder="" type="text" id="token-input">
eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiJ9.eyJpc3MiOiJodHRwczovL3Rva2VuLmRldi51YmlyY2guY29tIiwic3ViIjoiYzBiNTc3ZmItMWNlZi00YzZmLThjNTAtOGQzYTFlNmVhNzUzIiwiYXVkIjoiaHR0cHM6Ly92ZXJpZnkuZGV2LnViaXJjaC5jb20iLCJleHAiOjE2MzU2NzkzODAsImlhdCI6MTYyNTIyMTUxNSwianRpIjoiOGFmYWU2NjAtNTlmMi00M2ZjLWEyYjItZGE3MGE1ZjQzMjI3Iiwic2NwIjpbInVwcDp2ZXJpZnkiXSwicHVyIjoiREVGQVVMVCBUZXN0IFRva2VuIiwidGdwIjpbXSwidGlkIjpbIioiXSwib3JkIjpbXX0.u_DAkNuUSopO6r2ct5sJO2lO06ul2i7dPQIa8ou8YgIEaNsrYtZr3trwdn506x_dHeF3A83ZWS485moCkTncNA
      </textarea
      >
    </div>
    <button id="set-token">Set UBIRCH verification token</button>
  </div>
  <div id="form-area" class="hidden">
    <div class="section">
      <div class="input-field">
        <label for="json-input">JSON:</label><button class="mini" style="padding: 3px; border-radius: 8px;" id="insert-test-json">test data</button> <br>
        <textarea rows="10" cols="80" placeholder="" type="text" id="json-input"></textarea
        >
      </div>
      <input type="checkbox" id="sort-json" checked>
      <label for="sort-json">Trim and sort JSON (default=true)</label>
      <button id="trim-sort-json" class="for-sort">
        trim and sort JSON
      </button>
    </div>
    <div class="section for-sort">
      <div class="input-field">
        <label for="trimmed-json-input">Trimmed JSON:</label><br>
        <textarea rows="10" cols="80" placeholder="" type="text" id="trimmed-json-input"></textarea>
      </div>
    </div>
    <div class="section">
      Hash Algorythm:
      <input type="radio" id="sha256" name="hashalgo" value="sha256" checked>
      <label for="sha256">sha256</label>
      <input type="radio" id="sha512" name="hashalgo" value="sha512">
      <label for="sha512">sha512</label>

      <button id="verify-json" class="verify">VERIFY: JSON</button>
      <button id="hash-from-json">Get hash from JSON</button>
    </div>
    <div>
      <div class="input-field" style="padding: 10px;">
        <label for="hash-input">hash:</label><br>
        <input placeholder="" type="text" id="hash-input" style="width: 800px;">
      </div>
      <button id="hash-test" class="verify">VERIFY: HASH</button>
    </div>


    <div id="widget-root"></div>
    <div class="input-field">
      <label for="log">Log:</label><br>
      <textarea rows="10" cols="80" placeholder="" type="text" id="log"></textarea>
    </div>
  </div>
</div>
{{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}

{{ $jstesthash := resources.Get "js/testhash-page.ts" | js.Build (dict "minify" true) }}
<script src="{{$jstesthash.RelPermalink}}"></script>
