:root {
    --load-highlight-success: rgba(83, 175, 50, 0.5);
    --load-highlight-fail: rgba(228, 1, 27, 0.5);
    --section1-backround-color: #ffffff;
    --section1-text-color: #000000;
    --form-backround-color: #ffffff;
    --form-label-text-color: #4e4e4e;
    --form-input-underline-color: #000000;
    --form-input-text-color: #000000;
    --form-button-color: #ffffff;
    --form-buton-text-color: #000000;
    --form-button-higlight-text-color: #ffffff;
    --textArea-backround-color: #e0e0e0;
    --testArea-text-color: #000000  ;
    --textArea-highlight-color: #ababab;
    --header-backround-color: #000000;
    --header-text-color: #ffffff;
    --header-highlight-color: #6b6b6b;
    --footer-backround-color: #000000;
    --footer-text-color: #ffffff;
    --footer-highlight-color: #6b6b6b;
    --form-accent-color: magenta;
    --mobile-page-layout:
            "verification"
            "titleCard"
            "textArea";
    --tablet-page-layout:
            "verification"
            "titleCard"
            "textArea";
    --desktop-layout:
            "verification titleCard"
            "verification textArea";
    --header-height: 15rem;
    --header-logo-width: auto;
    --header-logo-height: 8rem;
}

#titleCard #info-content p {
    margin: 2rem 0;

}

#info-content > p:nth-child(1) {
    font-size: 4rem;
    font-weight: bold;
}

#info-content > p:nth-child(2), p:nth-child(4), p:nth-child(6){
    font-size: 2.5rem;
    font-weight: bold;
}

#info-content > p:nth-child(6){
    margin-top: 2.5rem !important;
}

#info-content > p:nth-child(3), p:nth-child(5), p:nth-child(7), p:nth-child(8), p:nth-child(9){
    font-size: 2.5rem;
}

