{{ define "favicon" }}
{{ partial "page-favicon.html" . }}
{{ end }}

{{ define "pagetitle" }}
{{ partial "page-title.html" . }}
{{ end }}

{{ define "customstyles" }}
{{ partial "custom-styles.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "verificationjs" }}
{{ $company := substr $.File.LogicalName 0 -3 }}
{{ $staticData := (index .Site.Data.v $company) }}

{{ if eq $staticData.use_without_access_token true }}
<script src="{{ $.Site.Params.verificationScriptUrl }}"></script>
{{ else }}
<script src="{{ $.Site.Params.verificationV2ScriptUrl }}"></script>
{{ end }}
{{ end }}

{{ define "main" }}
<input id="deploymentStage" hidden value="{{ $.Site.Params.stage }}">

{{ $company := substr $.File.LogicalName 0 -3 }}
{{ $staticData := (index .Site.Data.v $company) }}

{{ with .Params.verification_info_text }}
<div id="titleCard">
  <div id="info-content">
    {{ . | markdownify }}
  </div>
</div>
{{ end }}


{{ $scratch := newScratch }}

{{ with .Params.customStrings }}
{{ $scratch.Set "customStrings" (dict "sucess" .success "fail" .fail) }}
{{ end }}

{{ with $staticData }}

  {{ $scratch.Set "hashalgorithm" "sha256" }}

  {{ if (eq .layout "coronalaboratory") }}

    {{ $scratch.Set "inputids" (slice "f" "b" "g" "p" "i" "d" "t" "r" "s") }}
    {{ $scratch.Set "optionalFormFieldIds" (slice "i" "p") }}

  {{ else if (eq $staticData.layout "trafficsignsinventory") }}

    {{ $scratch.Set "inputids" (slice "ActionReferenceNumber" "ActionID" "SpecialUseDesc" "PeriodBeginDate" "PeriodBeginTime" "PeriodEndDate" "PeriodEndTime" "PostCode" "City" "District" "Street" "FromHouseNumber" "ToHouseNumber" "FromCrossroad" "ToCrossroad") }}
    {{ $scratch.Set "formIdMapping" (slice "arn" "id" "ud" "bd" "bt" "ed" "et" "pc" "c" "d" "s" "fn" "tn" "fc" "tc") }}

  {{ else if (eq $staticData.layout "vaccinationcertificate") }}

    {{ $scratch.Set "inputids" (slice "f" "g" "b" "p" "i" "d" "t" "r" "s") }}
    {{ $scratch.Set "optionalFormFieldIds" (slice "p") }}

  {{ else if (eq $staticData.layout "componentauthenticity") }}

    {{ $scratch.Set "inputids" (slice "md" "mf" "mfr" "pn" "sn" "tid") }}

  {{ else if (eq $staticData.layout "bvdw-form") }}

    {{ $scratch.Set "inputids" (slice "co" "vf" "vu" "do") }}

  {{ else if (eq $staticData.layout "bvdw-legacy-form") }}

    {{ $scratch.Set "inputids" (slice "company" "from" "until" "realm") }}
    {{ $scratch.Set "formIdMapping" (slice "unternehmen" "von" "bis" "bereich") }}
    {{ $scratch.Set "hashalgorithm" "sha512" }}
    {{ $scratch.Set "doNotSort" true }}

  {{ end }}

  {{ if (eq .use_without_access_token true) }}

    {{ partial "verification-script" (dict "inputids" ($scratch.Get "inputids") "formIdMapping" ($scratch.Get "formIdMapping") "optionalFormFieldIds" ($scratch.Get "optionalFormFieldIds") "hashalgorithm" ($scratch.Get "hashalgorithm") "separator" ";" "language" $.Site.Language "doNotSort" ($scratch.Get "doNotSort")  "customStrings" ($scratch.Get "customStrings") ) }}

  {{ else }}

    {{ partial "verification-v2-script" (dict "accessTokens" .access_token "inputids" ($scratch.Get "inputids") "formIdMapping" ($scratch.Get "formIdMapping") "optionalFormFieldIds" ($scratch.Get "optionalFormFieldIds") "hashalgorithm" ($scratch.Get "hashalgorithm") "separator" ";" "language" $.Site.Language "customStrings" ($scratch.Get "customStrings") ) }}

  {{ end }}

{{ end }}

<div id="verification">

  <div id="form">

    {{ if eq $staticData.demo_discaimer true }}
    <div id="demo-disclaimer" class="demo">
      {{ else }}
    <div id="demo-disclaimer" class="{{$.Site.Params.disclaimer}}">
        {{ end }}
        <p>DEMO DEMO DEMO DEMO</p>
    </div>

    <form id="gen_form" name="gen_form" onsubmit="verifyForm(); return false;">

      {{ partial (printf "%s.html" $staticData.layout) . }}

    </form>
      <div id="resultDiv">

        <div id="widgetDiv"></div>

      </div>
  </div>
</div>

  <div id="aboutUbirch">
    {{ partial "about-ubirch-area.html" . }}

    {{ with $staticData.cooperation_logos }}
    {{ partial "cooperations-icons-list" . }}
    {{ end }}
  </div>



{{ end }}

{{ define "footer" }}{{ partial "page-footer.html" . }}{{ end }}
