{{ define "favicon" }}
{{ partial "page-favicon.html" . }}
{{ end }}

{{ define "pagetitle" }}
{{ partial "page-title.html" . }}
{{ end }}

{{ define "customstyles" }}
{{ partial "custom-styles.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}

{{ with .Params.verification_description_long }}
<div id="titleCard">
  <p>
    {{ . }}
  </p>
</div>
{{ end }}

{{ if (eq .Params.layout "coronalaboratory") }}

{{ partial "verification-script" (dict "inputids" (slice "f" "b" "g" "p" "i" "d" "t" "r" "s") "hashalgorithm" "sha256" "separator" ";" "language" .Site.Language  ) }}

{{ else if (eq .Params.layout "trafficsignsinventory") }}

{{ partial "verification-script" (dict "formIdMapping" (slice "arn" "id" "ud" "bd" "bt" "ed" "et" "pc" "c" "d" "s" "fn" "tn" "fc" "tc") "inputids" (slice "ActionReferenceNumber" "ActionID" "SpecialUseDesc" "PeriodBeginDate" "PeriodBeginTime" "PeriodEndDate" "PeriodEndTime" "PostCode" "City" "District" "Street" "FromHouseNumber" "ToHouseNumber" "FromCrossroad" "ToCrossroad") "hashalgorithm" "sha256" "separator" ";" "language" .Site.Language  ) }}

{{ else if (eq .Params.layout "vaccinationcertificate") }}

{{ partial "verification-script" (dict "formIdMapping" (slice "f" "g" "b" "p" "i" "d" "t" "r" "s") "hashalgorithm" "sha256" "separator" ";" "language" .Site.Language  ) }}

{{ end }}

<div id="verification">
  <div id="form">

    <form id="gen_form" name="gen_form" onsubmit="verifyForm(); return false;">

      {{ if (eq .Params.layout "coronalaboratory") }}

      {{ partial "coronalaboratory.html" . }}

      {{ else if (eq .Params.layout "trafficsignsinventory") }}

      {{ partial "trafficsignsinventory.html" . }}

      {{ end }}

      <div id="resutlDiv">

        <div id="widgetDiv"></div>

      </div>

    </form>
  </div>
</div>

{{ partial "about-ubirch-area.html" . }}

{{ end }}

{{ define "footer" }}{{ partial "page-footer.html" . }}{{ end }}
