{{ define "favicon" }}
{{ partial "page-favicon.html" . }}
{{ end }}

{{ define "pagetitle" }}
{{ partial "page-title.html" . }}
{{ end }}

{{ define "customstyles" }}
{{ partial "custom-styles.html" . }}
{{ end }}

{{ define "header" }}
{{ partial "page-header.html" . }}
{{ end }}

{{ define "verificationjs" }}
{{/* NOTE: change this in you template if you want to verify to another stage than prod */}}
<script src="https://console.dev.ubirch.com/libs/verification/verification.js"></script>
{{ end }}

{{ define "main" }}

{{ with .Params.verification_description_long }}
<div id="titleCard">
  <p>
    {{ . }}
  </p>
</div>
{{ end }}

{{ if (eq .Params.layout "coronalaboratory") }}

{{ partial "verification-script" (dict "inputids" (slice "f" "b" "g" "p" "i" "d" "t" "r" "s") "hashalgorithm" "sha512" "separator" ";") }}

<div id="verification">
  <div id="form">

    <form id="gen_form" name="gen_form" onsubmit="verifyForm(); return false;">

      {{ partial "coronalaboratory.html" . }}

      <div id="resutlDiv">

        <div id="widgetDiv"></div>

        <input type="submit" name="verify" value="{{ i18n "formfield.button_verify" }}" class="verificationButton buttonHighlightColor">
      </div>

    </form>
  </div>
</div>
{{ else }}
For this layout is no form defined!!!
{{ end }}

{{ partial "about-ubirch-area.html" . }}

{{ end }}

{{ define "footer" }}{{ partial "page-footer.html" . }}{{ end }}
