<label for="company" class="formLabel">{{ i18n "formfield.bvdw.company" }}</label>
<input type="text" id="company" class="formInput" readonly>

<label for="from" class="formLabel">{{ i18n "formfield.bvdw.from" }}</label>
<input type="text" id="from" class="formInput" readonly>

<label for="realm" class="formLabel">{{ i18n "formfield.bvdw.realm" }}</label>
<input type="text" id="realm" class="formInput" readonly>

<label for="until" class="formLabel">{{ i18n "formfield.bvdw.until" }}</label>
<input type="text" id="until" class="formInput" readonly>
