<label for="co" class="formLabel">{{ i18n "formfield.bvdw.company" }}</label>
<input type="text" id="co" class="formInput" readonly>

<label for="do" class="formLabel">{{ i18n "formfield.bvdw.realm" }}</label>
<input type="text" id="do" class="formInput" readonly>

<label for="vf" class="formLabel">{{ i18n "formfield.bvdw.from" }}</label>
<input type="text" id="vf" class="formInput" readonly>

<label for="vu" class="formLabel">{{ i18n "formfield.bvdw.until" }}</label>
<input type="text" id="vu" class="formInput" readonly>
