<label for="mfr" class="formLabel">{{ i18n "formfield.componentauthenticity.mfr" }}</label>
<input type="text" id="mfr" class="formInput" readonly>

<label for="pn" class="formLabel">{{ i18n "formfield.componentauthenticity.pn" }}</label>
<input type="text" id="pn" class="formInput" readonly>

<label for="sn" class="formLabel">{{ i18n "formfield.componentauthenticity.sn" }}</label>
<input type="text" id="sn" class="formInput" readonly>

<label for="md" class="formLabel">{{ i18n "formfield.componentauthenticity.md" }}</label>
<input type="text" id="md" class="formInput" readonly>

<label for="mf" class="formLabel">{{ i18n "formfield.componentauthenticity.mf" }}</label>
<input type="text" id="mf" class="formInput" readonly>

<label for="tid" class="formLabel">{{ i18n "formfield.componentauthenticity.tid" }}</label>
<input type="text" id="tid" class="formInput" readonly>
