{{ $lang := printf "%s" .Site.Language }}
{{ $formfields := (index .Site.Data.formfields $lang) }}
{{ with $formfields }}
<label for="f" class="formLabel">{{ .f }}</label>
<input type="text" id="f" class="formInput" readonly>

<label for="b" class="formLabel">{{ .b }}</label>
<input type="text" id="b" class="formInput" readonly>

<label for="g" class="formLabel">{{ .g }}</label>
<input type="text" id="g" class="formInput" readonly>

<label for="p" class="formLabel">{{ .p }}</label>
<input type="text" id="p" class="formInput" readonly>

<label for="i" class="formLabel">{{ .i }}</label>
<input type="text" id="i" class="formInput" readonly>

<label for="d" class="formLabel">{{ .d }}</label>
<input type="text" id="d" class="formInput" readonly>

<label for="t" class="formLabel">{{ .t }}</label>
<input type="text" id="t" class="formInput" readonly>

<label for="r" class="formLabel">{{ .r }}</label>
<input type="text" id="r" class="formInput" readonly>

<label for="s" class="formLabel">{{ .s }}</label>
<input type="text" id="s" class="formInput" readonly>

{{ end }}
