<div id="footer">
  <p>
    {{ $company := substr $.File.LogicalName 0 -3 }}
    {{ $staticData := (index .Site.Data.v $company) }}
    {{ with $staticData }}

    ©Copyright {{ .company_name }} {{ now.Format "2006" }}

    {{ end }}
  </p>

  <p>
    {{ if .Params.imprint_link }}
      <a href="{{ .Params.imprint_link }}" target="_blank" class="footerLink">{{ i18n "link.imprint" }}</a>
    {{ else }}
    <a href="{{ "general/imprint/" | relLangURL }}" target="_blank" class="footerLink">{{ i18n "link.imprint" }}</a>
    {{ end }}
    {{ if .Params.privacy_link }}
    <a href="{{ .Params.privacy_link }}" target="_blank" class="footerLink">{{ i18n "link.privacy" }}</a>
    {{ end }}
  </p>
</div>
