<label for="f" class="formLabel">{{ i18n "formfield.vaccinationCert.f" }}</label>
<input type="text" id="f" class="formInput" readonly>

<label for="g" class="formLabel">{{ i18n "formfield.vaccinationCert.g" }}</label>
<input type="text" id="g" class="formInput" readonly>

<label for="b" class="formLabel">{{ i18n "formfield.vaccinationCert.b" }} {{ i18n "formfield.vaccinationCert.formatDate" }}
</label>
<input type="text" id="b" class="formInput" readonly>

<label for="p" class="formLabel">{{ i18n "formfield.vaccinationCert.p" }}</label>
<input type="text" id="p" class="formInput" readonly>

<label for="i" class="formLabel">{{ i18n "formfield.vaccinationCert.i" }}</label>
<input type="text" id="i" class="formInput" readonly>

<label for="d_0" class="formLabel">{{ i18n "formfield.vaccinationCert.d" }} 1 {{ i18n "formfield.vaccinationCert.formatDate" }}</label>
<input type="text" id="d_0" class="formInput" readonly>

<label for="d_1" class="formLabel">{{ i18n "formfield.vaccinationCert.d" }} 2 {{ i18n "formfield.vaccinationCert.formatDate" }}</label>
<input type="text" id="d_1" class="formInput" readonly>

<label for="t" class="formLabel">{{ i18n "formfield.vaccinationCert.t" }}</label>
<input type="text" id="t" class="formInput" readonly>

<label for="r" class="formLabel">{{ i18n "formfield.vaccinationCert.r" }}</label>
<input type="text" id="r" class="formInput" readonly>

<input type="text" id="s" class="formInput" readonly hidden>

