<label for="fn" class="formLabel">{{ i18n "formfield.bvdw.company" }}</label>
<input type="text" id="fn" class="formInput" readonly>

<label for="gn" class="formLabel">{{ i18n "formfield.bvdw.realm" }}</label>
<input type="text" id="gn" class="formInput" readonly>

<label for="pn" class="formLabel">{{ i18n "formfield.bvdw.until" }}</label>
<input type="text" id="pn" class="formInput" readonly>

<label for="bd" class="formLabel">{{ i18n "formfield.bvdw.from" }}</label>
<input type="text" id="bd" class="formInput" readonly>

<label for="pr" class="formLabel">{{ i18n "formfield.bvdw.until" }}</label>
<input type="text" id="pr" class="formInput" readonly>

<input type="text" id="br" class="formInput" readonly hidden>

<label for="vs" class="formLabel">{{ i18n "formfield.bvdw.until" }}</label>
<input type="text" id="vs" class="formInput" readonly>

<label for="vd" class="formLabel">{{ i18n "formfield.bvdw.until" }}</label>
<input type="text" id="vd" class="formInput" readonly>

<label for="ac" class="formLabel">{{ i18n "formfield.bvdw.until" }}</label>
<input type="text" id="ac" class="formInput" readonly>

<input type="text" id="is" class="formInput" readonly hidden>

<input type="text" id="id" class="formInput" readonly hidden>

<input type="text" id="ve" class="formInput" readonly hidden>

<input type="text" id="se" class="formInput" readonly hidden>

<input type="text" id="s" class="formInput" readonly hidden>
