<script>
  let ubirchVerification;
  document.addEventListener("DOMContentLoaded", function() {
    // create UbirchVerification instance
    ubirchVerification = new UbirchFormVerification({
      algorithm: "{{ .hashalgorithm }}",
      elementSelector: '#verification-widget',
      formIds: {{ .inputids }}
    });
    var paramStr = ubirchVerification.getFormParamsFromUrl(window);
    if (paramStr) {

      ubirchVerification.setDataIntoForm(paramStr, document, "{{ .separator }}");
    }
  });

  function verifyForm() {
    try {
      const genJson = ubirchVerification.getJsonFromInputs(document);
      ubirchVerification.verifyJSON(genJson);
    } catch (e) {
    }
  }
</script>
