<script>
  let ubirchVerification;
  document.addEventListener("DOMContentLoaded", function() {
    console.log("Version 2.0");

    // create UbirchVerification instance
    ubirchVerification = new UbirchFormVerification({
      algorithm: "{{ .hashalgorithm }}",
      elementSelector: '#widgetDiv',
      NO_LINK_TO_CONSOLE: true,
      CHECK_FORM_FILLED: false,
      language: "{{ .language }}",
      accessToken: parseToken(),
    {{ with .formIdMapping }} paramsFormIdsMapping: {{ . }}, {{ end }}
    formIds: {{ .inputids }}

    });
    var paramStr = ubirchVerification.getFormParamsFromUrl(window);
    if (paramStr) {
      ubirchVerification.setDataIntoForm(paramStr, document, "{{ .separator }}");
      verifyForm();
    }
  });

  function parseToken() {
    const deploymentStage = document.getElementById('deploymentStage') ? document.getElementById('deploymentStage').value : undefined;
    if (!deploymentStage) {
      throw new Error('Please set stage parameter in project config!!');
    }

    const accessTokensVal = '{{ .accessTokens }}';
    if (!accessTokensVal) {
      throw new Error('Please provide accessTokens to use version 2 of verification widget with token support!!');
    }

    let accessToken = undefined;

    const keyIndex = accessTokensVal.indexOf('stage:' + deploymentStage + ' token:');
    if (keyIndex > -1) {
      const valIndex = accessTokensVal.indexOf(' token:', keyIndex) + 7;
      const valEndIndex = accessTokensVal.indexOf(']', valIndex);
      accessToken = accessTokensVal.substr(valIndex, valEndIndex - valIndex);
    }

    if (!accessToken || accessToken.length === 0){
      throw new Error(`Please provide accessToken for stage ${deploymentStage}!!`);
    }
    return accessToken;
  }

  function verifyForm() {
      let errorDiv = document.getElementById('errorDiv')
      let errorP = document.getElementById('errorP')
      let errorTitle = document.getElementById('errorTitle')
    try {
      const genJson = ubirchVerification.getJsonFromInputs(document);
      ubirchVerification.verifyJSON(genJson);
    } catch (e) {
      console.log(e);

      switch (e.code){
          case 'VERIFICATION_CURRENTLY_UNAVAILABLE': {
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Die Verifizierung ist zur Zeit leider nicht möglich. Versuchen sie es später noch einmal.";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
          case 'JSON_MALFORMED': {
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Es wurden unerwartete Zeichen in den Parametern gefunden.";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
          case 'URL_PARAMS_CORRUPT': {
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Die URL Parameter scheinen fehlerhaft zu sein.";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
          case 'MANDATORY_FIELD_MISSING': {
              console.log(25)
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Nicht alle Pflichtfelder wurden gesetzt.";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
          case 'FILLING_FORM_WITH_PARAMS_FAILED': {
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Beim Befüllen des Formulars ist ein Fehler aufgetreten.";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
          case 'JSON_PARSE_FAILED': {
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Beim Umwandeln der Daten ist ein Fehler aufgetreten.";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
          case 'CANNOT_ACCESS_FORM_FIELD': {
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Der Zugriff auf das Formular ist fehlgeschlagen";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
          case 'UNKNOWN_ERROR': {
              errorTitle.innerText = "Fehler!"
              errorP.innerText = "Es ist ein unerwarteter Fehler aufgetreten.";
              errorDiv.setAttribute('style', 'visibility: visible')
              errorDiv.classList.add('error');
              break;
          }
      }
    }
  }
</script>

<style>
    .error{
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        grid-row: 1;
        grid-column: 1;
        height: 100%;
        width: 100%;
        background-color: rgba(25, 25, 25, 0.3);
        }

    .error p {
        font-size: 4rem;
        color: rgb(80, 80, 80);
    }

    .error #errorTitle {
        font-size: 5rem;
        color: red;
    }

    #errorTextContainer{
        background-color: white;
        padding: 1rem;
        text-align: center;
        width: 90%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4)
    }
</style>
