{{ define "verificationjs" }}
<script src="{{ $.Site.Params.verificationScriptUrl }}"></script>
{{ end }}

<script>
  let ubirchVerification;
  document.addEventListener("DOMContentLoaded", function() {
    console.log("Version 1.0");
    // create UbirchVerification instance
    ubirchVerification = new UbirchFormVerification({
      algorithm: "{{ .hashalgorithm }}",
      elementSelector: '#widgetDiv',
      NO_LINK_TO_CONSOLE: true,
      CHECK_FORM_FILLED: false,
      language: "{{ .language }}",
    {{ with .formIdMapping }}
      paramsFormIdsMapping: {{ . }},
    {{ end }}
    formIds: {{ .inputids }}

    });
    var paramStr = ubirchVerification.getFormParamsFromUrl(window);
    if (paramStr) {
        // TODO this check is just temporary has to be replaced with something more solid
        if (paramStr.match(/\/%3E/) || paramStr.match(/%3E/) ||  paramStr.match(/%22\//g) || paramStr.match(/%22/g)){
            console.log('verbotenes Sonderzeichen entdeckt')
        }else{
            ubirchVerification.setDataIntoForm(paramStr, document, "{{ .separator }}");
            verifyForm();
        }
    }
  });

  function verifyForm() {
    try {
      const genJson = ubirchVerification.getJsonFromInputs(document);
      ubirchVerification.verifyJSON(genJson);
    } catch (e) {
      console.log("Fehler! " + e);
      // TODO: error handling
    }
  }
</script>
