<script>
  let ubirchVerification;
  document.addEventListener("DOMContentLoaded", function() {
    console.log("Version 1.0");
    // create UbirchVerification instance
    ubirchVerification = new UbirchFormVerification({
      algorithm: "{{ .hashalgorithm }}",
      elementSelector: '#widgetDiv',
      NO_LINK_TO_CONSOLE: true,
      language: "{{ .language }}",
    {{ with .formIdMapping }}
      paramsFormIdsMapping: {{ . }},
    {{ end }}
      formIds: {{ .inputids }}

    });
    var paramStr = ubirchVerification.getFormParamsFromUrl(window);
    if (paramStr) {

      ubirchVerification.setDataIntoForm(paramStr, document, "{{ .separator }}");
      verifyForm();
    }
  });

  function verifyForm() {
    try {
      const genJson = ubirchVerification.getJsonFromInputs(document);
      ubirchVerification.verifyJSON(genJson);
    } catch (e) {
      // TODO: error handling
    }
  }
</script>
