
  {{ $js := resources.Get "js/main.ts" | js.Build (dict "minify" true "params" (
    dict 
      "algorithm" .hashalgorithm
      "language" .language.Lang
      "accessTokens" .accessTokens
      "formIds" .formIds
      "paramsFormIdsMapping" .formIdMapping
      )) }}
  <script src="{{$js.RelPermalink}}"></script>
<!--
<script>
  let DATA_SCHEMA;
  {{ with .DATA_SCHEMA }}
  DATA_SCHEMA = {{ . }};
  {{ end }}
  let ubirchVerification;
  document.addEventListener("DOMContentLoaded", function() {
    console.log("Version 2.0");

    // create UbirchVerification instance
    ubirchVerification = new UbirchFormVerification({
      algorithm: "{{ .hashalgorithm }}",
      elementSelector: '#widgetDiv',
      HIGHLIGHT_PAGE_AFTER_VERIFICATION: true,
      language: "{{ .language }}",
      accessToken: parseToken(),
      {{ with .formIdMapping }} paramsFormIdsMapping: {{ . }}, {{ end }}
      {{ with .optionalFormFieldIds }} optionalFormFieldIds: {{ . }}, {{ end }}
      formIds: {{ .inputids }}
    });

    {{ with .customStrings }}
    {{ with .success }}
    ubirchVerification.setMessageString("SUCCESS", {{ . }});
    {{ end }}
    {{ with .fail }}
    ubirchVerification.setMessageString("FAIL", {{ . }});
    {{ end }}
    {{ end }}

    var paramStr = ubirchVerification.getFormParamsFromUrl(window);
    if (paramStr) {
      ubirchVerification.setDataIntoForm(paramStr, document, "{{ .separator }}");
      verifyForm();
    }
  });

  function parseToken() {
    const deploymentStage = document.getElementById('deploymentStage') ? document.getElementById('deploymentStage').value : undefined;
    if (!deploymentStage) {
      throw new Error('Please set stage parameter in project config!!');
    }

    const accessTokensVal = '{{ .accessTokens }}';
    if (!accessTokensVal) {
      throw new Error('Please provide accessTokens to use version 2 of verification widget with token support!!');
    }

    let accessToken = undefined;

    const keyIndex = accessTokensVal.indexOf('stage:' + deploymentStage + ' token:');
    if (keyIndex > -1) {
      const valIndex = accessTokensVal.indexOf(' token:', keyIndex) + 7;
      const valEndIndex = accessTokensVal.indexOf(']', valIndex);
      accessToken = accessTokensVal.substr(valIndex, valEndIndex - valIndex);
    }

    if (!accessToken || accessToken.length === 0){
      throw new Error(`Please provide accessToken for stage ${deploymentStage}!!`);
    }
    return accessToken;
  }

  function verifyForm() {
    try {
      const genJson = ubirchVerification.getJsonFromInputs(document);
      const handledJson = this.handleSpecials(genJson, DATA_SCHEMA);
      ubirchVerification.verifyJSON(handledJson);
    } catch (e) {
      console.log("Fehler! " + e);
      // TODO: error handling
    }
  }
  function handleSpecials(flatJson, DATA_SCHEMA) {
    switch (DATA_SCHEMA) {
      case "certification-vaccination-v3":
        const json = JSON.parse(flatJson);
        let vacc = {
          da: json.da,
          vp: json.vp,
          pr: json.pr,
          br: json.br,
          vs: json.vs,
        };
        if (json.bn) { vacc.bn = json.bn; }
        if (json.vd) { vacc.vd = json.vd; }
        if (json.ac) { vacc.ac = json.ac; }
        if (json.di) { vacc.di = json.di; }
        if (json.co) { vacc.co = json.co; }
        if (json.nx) { vacc.nx = json.nx; }
        let vaccV3Json = {
          fn: json.fn,
          id: json.id,
          is: json.is,
          ve: json.ve,
          vaccination: [vacc]
        }
        if (json.gn) { vaccV3Json.gn = json.gn; }
        if (json.bd) { vaccV3Json.bd = json.bd; }
        if (json.pn) { vaccV3Json.pn = json.pn; }
        if (json.vf) { vaccV3Json.vf = json.vf; }
        if (json.vu) { vaccV3Json.vu = json.vu; }
        return JSON.stringify(vaccV3Json);
      default:
        return flatJson;
    }
  }

</script>
-->
