<label for="ActionReferenceNumber" class="formLabel">{{ i18n "formfield.trafsigninv.ActionReferenceNumber" }}</label>
<input type="text" id="ActionReferenceNumber" class="formInput" readonly>

<label for="ActionID" class="formLabel">{{ i18n "formfield.trafsigninv.ActionID" }}</label>
<input type="text" id="ActionID" class="formInput" readonly>

<label for="SpecialUseDesc" class="formLabel">{{ i18n "formfield.trafsigninv.SpecialUseDesc" }}</label>
<input type="text" id="SpecialUseDesc" class="formInput" readonly>

<label for="PeriodBeginDate" class="formLabel">{{ i18n "formfield.trafsigninv.PeriodBeginDate" }}</label>
<input type="text" id="PeriodBeginDate" class="formInput" readonly>

<label for="PeriodBeginTime" class="formLabel">{{ i18n "formfield.trafsigninv.PeriodBeginTime" }}</label>
<input type="text" id="PeriodBeginTime" class="formInput" readonly>

<label for="PeriodEndDate" class="formLabel">{{ i18n "formfield.trafsigninv.PeriodEndDate" }}</label>
<input type="text" id="PeriodEndDate" class="formInput" readonly>

<label for="PeriodEndTime" class="formLabel">{{ i18n "formfield.trafsigninv.PeriodEndTime" }}</label>
<input type="text" id="PeriodEndTime" class="formInput" readonly>

<label for="PostCode" class="formLabel">{{ i18n "formfield.trafsigninv.PostCode" }}</label>
<input type="text" id="PostCode" class="formInput" readonly>

<label for="City" class="formLabel">{{ i18n "formfield.trafsigninv.City" }}</label>
<input type="text" id="City" class="formInput" readonly>

<label for="District" class="formLabel">{{ i18n "formfield.trafsigninv.District" }}</label>
<input type="text" id="District" class="formInput" readonly>

<label for="Street" class="formLabel">{{ i18n "formfield.trafsigninv.Street" }}</label>
<input type="text" id="Street" class="formInput" readonly>

<label for="FromHouseNumber" class="formLabel">{{ i18n "formfield.trafsigninv.FromHouseNumber" }}</label>
<input type="text" id="FromHouseNumber" class="formInput" readonly>

<label for="ToHouseNumber" class="formLabel">{{ i18n "formfield.trafsigninv.ToHouseNumber" }}</label>
<input type="text" id="ToHouseNumber" class="formInput" readonly>

<label for="FromCrossroad" class="formLabel">{{ i18n "formfield.trafsigninv.FromCrossroad" }}</label>
<input type="text" id="FromCrossroad" class="formInput" readonly>

<label for="ToCrossroad" class="formLabel">{{ i18n "formfield.trafsigninv.ToCrossroad" }}</label>
<input type="text" id="ToCrossroad" class="formInput" readonly>

